data/figer_train_data/train.data
notes.xlsx

~$notes.xlsx
notes.xlsx
code/notebooks/label_distribution.png
write up/Gannt chart.png
write up/~$ne grained entity tagging with large language models proposal v2.docx
write up/Fine grained entity tagging with large language models proposal v2.docx
write up/Fine grained entity tagging with large language models proposal.docx
write up/Fine grained entity tagging with large language models proposal v2.pdf
write up/~$ne grained entity tagging with large language models proposal.docx
data/few_nerd/dev.txt
data/few_nerd/test.txt
data/few_nerd/train.txt
write up/Fine grained entity tagging with large language models proposal.docx
